@import url("./reset.css");


img {
  max-width: 100%;
  display: block;
}

body {
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}


/*contact card, moble-first*/

.card {
  background-color: #ececd8;
  border-radius: 1rem;
  padding: 1.5rem;
  width: 100%;
  max-width: 22rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.card-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  align-items: center;
}

.card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.card h1 {
  font-size: 1.5rem;
}

.card .title {
  font-size: 1rem;
  color: #666;
}

.card .company {
  font-weight: 700;
}

.card .phone {
  font-size: 1rem;
}



/* Tablet */
@media (min-width: 600px) {

  .card {
    max-width: 34rem;
    padding: 2rem;
  }

  .card img {
    width: 220px;
    height: 220px;
  }

  .card-content {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1rem
  }

  .details {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    width: auto;
  }
}

/* Desktop */
@media (min-width: 900px) {

  .card {
    max-width: 42rem;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
  }

  /* .card img {
    flex-shrink: 0;
  } */

  .card-content {
    /* flex-direction: column;
    justify-content: center; */
    align-items: flex-start;
    text-align: left;
    /* gap: 1rem; */
  }

  .details {
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    /* width: 100%; */
  }

}
